# Environment variables
.env

# Python virtual environment
/venv/
/env/
/.venv/

# Python cache files
__pycache__/
*.pyc

# Django database file
db.sqlite3
*.sqlite3

# User-uploaded media files
/media/

# Collected static files (run by collectstatic)
/staticfiles/
/static_root/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log