{% load static %}

{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en" class="h-full p-0 m-0 ">
<head>
    <!-- django-leaflet -->
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
        window.ALUR_PELAYARAN_URL = "{% url 'alurpelayaran' %}";
    </script>
    
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
    <!-- leaflet ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js" integrity="sha512-Abr21JO2YqcJ03XGZRPuZSWKBhJpUAR6+2wH5zBeO4wAw4oksr8PRdF+BKIRsxvCdq+Mv4670rZ+dLnIyabbGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.js" integrity="sha512-eYE5o0mD7FFys0tVot8r4AnRXzVVXhjVpzNK+AcHkg4zNLvUAaCOJyLFKjmfpJMj6L/tuCzMN7LULBvNDhy5pA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- leaflet geometry util -->
    <script src="https://npmcdn.com/leaflet-geometryutil"></script>

    <!-- leaflet side by side -->
    <script type="text/javascript" src="{% static 'static/js/leaflet-side-by-side/leaflet-side-by-side.js' %}"></script>
    <link rel="stylesheet" href="{% static 'static/js/leaflet-side-by-side/range.css' %}">
    <link rel="stylesheet" href="{% static 'static/js/leaflet-side-by-side/layout.css' %}">

    <!-- htmx -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    
    <!-- alpine js Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    
    <!-- alpine js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    
    <!-- daisy ui -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TA</title>
</head>

<body class="flex flex-col h-full p-0 m-0">
    <header id="header-container" class="sticky top-0 flex justify-center flex-shrink-0 z-10000">
        <div id="logonavbar-container" class="flex items-center justify-between pl-[15px] pr-[15px] mt-[16px] mr-[20px] ml-[20px] h-[80px] w-screen rounded-2xl backdrop-blur-lg bg-white/15 border border-white/30">
            <div id="logo-container">
                <img src="{% static 'images/logoitb.png' %}" class="h-[60px] v-[60px]" alt="">
            </div>
            <div id="navbar-container" class="flex font-sans gap-x-[15px]">
                <a href="{% url 'home' %}" class="w-fit pl-[23px] pr-[23px] pt-[13px] pb-[13px] transition border rounded-xl hover:bg-white/5 border-white/0 hover:border-white/10 text-xl font-semibold text-center">Home</a>
                <a href="" class="w-fit transition border rounded-xl hover:bg-white/5 border-white/0 hover:border-white/10 pl-[23px] pr-[23px] pt-[13px] pb-[13px] text-xl font-semibold text-center">About Us</a>
                <a href="" class="w-fit transition border rounded-xl hover:bg-white/5 border-white/0 hover:border-white/10 pl-[23px] pr-[23px] pt-[13px] pb-[13px] text-xl font-semibold text-center">Features</a>
                <a href="" class="w-fit transition border rounded-xl bg-white/5 hover:bg-white/10 border-white/5 hover:border-white/10 pl-[23px] pr-[23px] pt-[13px] pb-[13px] text-xl font-semibold text-center">Contact</a>
            </div>
        </div>
    </header>

    <main id="content" class="flex-[1] flex flex-col gap-2">
        {% block content %}{% endblock content %}
    </main>
    {% block footer %}    
        <footer id="footer-container" class="bg-blue-300 w-screen h-[300px] flex-shrink-0">
        </footer>
    {% endblock footer %}
</body>
</html>